/*landing page styling */
*{
	margin: 0;
	padding: 0;
	font-family: poppins;
	font-weight: 400;
	line-height: 1.5;
	box-sizing: border-box;
	user-select: none;
}
/*landing page styling for index file*/
body{
	height:180vh;
	width: 100%;
	background-image:url(images/baby.png);
	background-size: cover;
	background-position:center center;
	position: relative;
	z-index: 111;
}
body::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.6);
	z-index: -1;
}

.banner-text{
	width: 600px;
	display: block;
	margin: auto;
	float: none;
	position: relative;
	top: 50px;
	text-align: center;
}
/*Animation effect for auto-text typing*/
.banner-text h1{
	font-size: 35px;
	color: #fff;
	text-transform: uppercase;
	overflow: hidden;
	border-right: 3px solid #fff;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 2px;
	animation: ani1 3.5s steps(40, end), ani2 .75s step-end infinite;
	-webkit-animation: ani1 3.5s steps(40, end), ani2 .75s step-end infinite;
}
@keyframes ani1{
	from{
		width: 0;
	}
	to{
		width: 100%;
	}
}
@keyframes ani2{
	from, to{border-color: transparent}
	50%{border-color: #fff}
}
/*landing page note styling*/
.banner-text h3{
	color: rgba(255,255,255,0.7);
	font-size: 25px;
	text-align: center;
}
.banner-text p{
	color: rgba(255,255,255,0.7);
	font-size: 20px;
	padding: 5px;
	text-align: center;
}

/*this for the navigation "Register", "Learn More" and "Login" buttons in Register and Login files */
.tabs{
	margin-top: 150px;
}
.registertabs{
	margin-top: 140vh;
}
.tabs a{
	color: #fff;
	text-align: center;
	margin: 25px;
	padding: 10px 30px;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	display: inline-block;
	font-size: 18px;
}
.tabs a:hover{
	background: #fff;
	color: #000;
	transition:1s;
	-webkit-transition:1s;
	-moz-transition:1s;
	-ms-transition:1s;
	-o-transition:1s;
}
/*this for the navigation "Register", "Learn More" and "Login" buttons in index and other files */
.banner-text .tabs a{
	color: #fff;
	text-align: center;
	margin: 25px;
	padding: 10px 30px;
	text-decoration: none;
	border: 2px solid #fff;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	display: inline-block;
	font-size: 18px;
}
.banner-text .tabs a:hover{
	background: #fff;
	color: #000;
	transition:1s;
	-webkit-transition:1s;
	-moz-transition:1s;
	-ms-transition:1s;
	-o-transition:1s;
}

/*styling logo*/
.logo{
	float: left;
	width: auto;
	padding: 2px;
	margin: 4px 0 0 4px;
	text-transform: uppercase;
	background-color: cyan;
	color: white;
	border-radius: 5px;
}
.logo h2{
	padding:1px;
	text-align: center;
	font-weight: bolder;
	color: #fff;
}
/*styling logo responsiveness land page note register, learn more and login */
@media screen and (max-width: 600px){
	.logo{
		font-size: 12px;
	}
	.logo h2{
		padding-left: 10px
	}
	.banner-text{
		width:100%;
		margin-top: 20px;
	}
	.banner-text h1{
	font-size: 15px;
	font-weight: bolder;
	}
	.banner-text h3{
		font-size: 13px;
	}
	.banner-text p{
		font-size: 15px;
	}
	.banner-text .tabs a{
		font-size: 15px;
		text-align: center;
		margin: 20px;
		display: flex;
		flex-direction: column;
	}
	.tabs a{
		font-size: 15px;
		text-align: center;
		margin:20px;
		display: flex;
		flex-direction: column;
	}
}
/*Styling menu and anchor tags */
.menuarea{
	width: 55%;
	padding-left: 35px;
	float: right;
	display: block;
	overflow: hidden;
}
.menuarea a{
	list-style: none;
	color: #fff;
	text-decoration: none;
	margin-right:20px;
	float: left;
	font-size: 16px;
	display: block;
	padding: 5px 18px;
}
.menuarea a:hover{
	color: cyan;
	cursor: pointer;
	transition: .3s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	
}
.menuarea a i{
	font-size: 25px;
}
.menuarea .icon {
	display: none;
}
/*Styling menu responsiveness for landing page*/
@media screen and (max-width: 600px){
	body{
		height:180vh;
		width: 100%;
		background-image:url(images/baby.png);
		background-size: cover;
		background-position: center center;
	}
}
@media screen and (max-width: 600px){
	.menuarea a{
		display: none;
	}
	.menuarea a:hover:not(:last-child){
		background-color: white;

	}
	.menuarea a.icon{
		float: right;
		display: block;
		margin-right: 0;
	}
}

@media screen and (max-width: 600px){
	.menuarrea.responsive{
		position: relative;
	}
	.menuarea.responsive .icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.menuarea.responsive a {
		float: none;
		width: auto;
		display: block;
		text-align: left;
		background-color: #c2c405;
	}
}



/*Registration form styling for registration file only*/
.Formcontainer{
	width:450px ;
	height:auto;
	padding: 15px 10px 20px 2px;
	border-radius: 8px;
	background-color: #345dad;
	opacity: .6;
	margin: 0 50px 50px 5px;
	position:absolute;
	right: 8px;
	float: auto;
}
/*Login fields styling for login file only*/
.Login-container{
	width:450px ;
	height: auto;
	padding: 15px 10px 20px 2px;
	border-radius: 5px;
	background-color: #345dad;
	opacity: .6;
	margin: 0 50px 50px 5px;
	position:absolute;
	right: 8px;
	float: auto;
}
/*Styling labels and inputs layout for all files*/
label{
	float: left;
	margin-left: 20px;
	color: #fff;
	font-weight: bolder;
}
input, select{
	float: left;
	margin-left: 20px;
	width: 400px;
	height: 35px;
	border: none;
	padding-left:10px;
}
/*input field styling*/
input[type = text], input[type=date], input[type= password], input[type=phonenumber], select{
	width: 95%;
	height: 40px;
	padding: 12px 20px;
	margin:;
	line-height: 1.5;
	box-sizing: border-box;
	border:none;
	color: black;
	font-weight: bolder;
	border-radius: 10px;
	outline: none;
}
/*particulars for login file only*/
.login-clearmid{
	padding-top: 120px;
}

.authentication{
	display: none;
	position: absolute;
}
.clearmid .login-clearmid::after{
	content: "";
	display: table;
	clear: both;
}
/*Particulars for all Submit and cancel buttons*/
.clearmid{
	padding-top: 35vh;
}
.login-clearmid{
	padding-top: 20vh;
}
.Submit-btn{
	float: left;
	width: 100px;
	height: 50px;
	margin: 0 2px 0 35px;
	padding: 5px;
	font-size: 20px;
	font-weight: bolder;
	border-radius: 50px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
}

.Submit-btn:hover{
	background-color: green;
	color: #fff;
	cursor: pointer;
}
.cancel-btn{
	float: right;
	width: 100px;
	height: 50px;
	margin: 0 2px 0 5px;
	padding: 5px;
	font-size: 20px;
	font-weight: bolder;
	border-radius: 50px;
	background: transparent;
	border: 2px solid #fff;
	outline: none;
}
.cancel-btn:hover{
	background-color: red;
	color: #fff;
	cursor: pointer;
}
@media screen and  (max-width: 600px){
	.Formcontainer{
		width:90%;
		height:auto;
		margin: 10px;
		border-radius: 5px;
	}
	/*Login fields styling for login file only*/
	.Login-container{
		width:90%;
		height:auto;
		margin: 10px;
	}
	#StudentForm{
		padding-bottom: 20px;
	}
	
	input[type = text], input[type=date], input[type=password], input[type=phonenumber], select{
		width: 100%;
		padding: 12px 20px;
		margin:5px;
		line-height: 1.5;
		box-sizing: border-box;
		border:none;
	}
	label{
		margin-left: 5px;
	}
	.cancel-btn{
		padding: 5px;
		outline: none;
		margin: 5px;
	}
	.Submit-btn{
		padding: 0;
		margin: 5px;
		outline: none;
	}
}
